@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



@media (prefers-color-scheme: dark) {
    body  { background:  rgb(0, 0, 0); color: white; }
    :root {
        --accent-color: white;
        --rev-color: black;
    }

}

@media (prefers-color-scheme: light) {

    body { background:  rgb(255, 255, 255); color: black; }
    :root {
        --accent-color: black;
        --rev-color: white;
    }
}

:root {
    --linkcol: #4081e2;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 60%;
    margin-right: 10%;

}

a {
    background: 
      /* linear-gradient(to right, --accent-color, --accent-color), */
      linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), #4081e2);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }

.column2 {
    float: left;
    width: 30%;
    font-size: large; 
    position: sticky;
    top: 60px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    /* margin-bottom: 20vh; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Inter, Helvetica,  Roboto, Arial, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    font-size: x-large;
    margin-top: 20vh;
    height: 100%;

}


h1 {
    padding: 0;
    transition: 200ms;
    /* font-size: 72px; */
    /* color: black; */
    background: -webkit-linear-gradient(right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), #4081e2);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }

p a, p a:visited  {
    /* font-weight: 600; */
    /* text-decoration: underline; */
    color: var(--accent-color);
}

p a:hover {
    text-decoration: none;
}

.column2 h3 {
    padding: 0;
    margin: 0;
}
.column2 p {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}


.links ul li {
    display: inline;
    float: left;
    padding-right: 20px;
    margin-top: 10px;
}

.links ul {
    padding: 0;
}

.links a {
    transition: 200ms;
    text-decoration: none;
    /* font-style: bold; */
    color: var(--linkcol);
    /* background-color: white; */
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid var(--linkcol) 1px;
    background: var(--rev);
    /* border: solid linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), #4081e2), 1px; */
    font-size: 25px;
}



.links a:hover {
    text-decoration: none;
    border: solid white 1px;
    color: var(--accent-color);
    /* background-color: rgb(223, 223, 223); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 0.2s;
}
/* h1 {

}


h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
} */

.backbutton, .backbutton a:visited {
    color: #4081e2;
    padding: 0;
    margin-top: -50px;
    margin-bottom: 20px;
    position: absolute;
    font-weight: 500;
    
}

footer {
    padding: 0;
    transition: 200ms;
    /* font-size: 72px; */
    /* color: black; */
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), #4081e2);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* clear: both; */
    /* position: relative; */
    /* margin-top: 20%; */
    /* height: 50px; */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
        font-size: medium;
        position: relative;
        top: 30px;
    }
    body {
        padding: 2%;
        font-size: large;
        margin-top: 5%;
        min-height: 100vh;
    }

    h3 {
        font-size: x-large;
    }
    h1 {
        font-size: xx-large;
    }
    .links a {
        text-decoration: none;
        /* font-style: bold; */


        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
        margin-bottom: 50px;
    }
    .backbutton, .backbutton a:visited {
        color: #4081e2;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 20px;
        position: absolute;
    }

    footer {
        padding-top: 50px;
    }

}



@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .wrapper {
        margin-bottom: 100px;
    }
}}
